body {
  margin: 0;
  font-family: serif;
}

h1 {
  font-family: "lora" serif;
  font-weight: 400;
  color: darkblue;
  font-size: 2rem;
  margin: 0;
}

.subtitle {
  margin: 0;
  font-weight: 700;
  color: rgb(49, 117, 94);
  font-size: 0.75rem;
}

.container{
  width: 90%;
  max-width: 900px;
  margin: 0 auto;
  
}

.container-nav{
  display: flex;
  justify-content: space-between;
}

header {
  background: lightblue;
  padding: 2em 0;
}

@media (max-width: 675px) {
  .container-nav{
    flex-direction: column;
  }

  header{
    text-align: center;
  }
}

nav ul {
  list-style: none;
  display: flex;
  padding: 0;
  justify-content: center;
}

nav li {
  margin-left: 2em;
}

nav a {
  text-decoration: none;
  color: rgb(97, 73, 43);
  font-weight: 700;
  padding: .25em 0;
}

nav a:hover,
nav a:focus {
  color: rgb(25, 25, 206);
  cursor: progress;
}

.current-page{
    border-bottom: 1px solid rgb(97, 73, 43);
}

.current-page:hover {
    color:  rgb(97, 73, 43);
}

@media (max-width: 675px) {
  nav ul{
    flex-direction: column;
  }

  nav li{
    margin: .5em 0;
  }
}